<div class="row" data-ng-repeat="array in menuItems">
    <div class="col-md-4 portfolio-item" data-ng-repeat="object in array">
        <h3>{{object.name}}
        </h3>
        <input type="checkbox" title="Select" data-ng-model="object.isSelected" data-ng-click="addToOrder(object)" />
        <div data-ng-show="object.isSelected==true">
            <select data-ng-model="object.quantity" data-ng-init="object.quantity = 1" data-ng-change="getOrderCount();">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
            </select>
        </div>
        <h4>{{object.price | currency}}</h4>
        <p>{{object.description}}</p>
    </div>
</div>