<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hot Menu</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/site.css" rel="stylesheet">
    <link href="css/switchery.css" rel="stylesheet" />
</head>
<body data-ng-app="menuApp" data-ng-controller="menuCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Hot Menu</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li data-ng-repeat="category in categories | orderBy : 'Id'"><a data-ng-click="getItemByCategory(category.Id)" style="cursor: pointer">{{category.Name}}</a></li>
                    <!--<li><a style="cursor: pointer" data-ng-disabled="order.length < 1" value="Order" data-ng-click="toggleOrderDetails();">Order<span data-ng-show="order.length > 0"> ({{order.count}})</span></a></li>-->
                    <li style="padding-top: 10px">
                        <button class="order" data-ng-disabled="order.length < 1" value="Order" data-ng-click="toggleOrderDetails();">Order</button>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->

    <div class="container">
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{selectedCategory == null?'All':selectedCategory}}
                    <!--<small>Secondary Text</small>-->
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div id="divItems" class="row" data-ng-repeat="object in menuItems">
            <div class="col-lg-12" style="margin: 2px;" id="obj_{{object.Id}}" data-ng-class="object.IsSelected?'item-selected':''">
                <p>
                    <h3 style="display: inline">
                        {{object.Name}}
                    </h3>
                    <!--<input type="checkbox" title="Select" data-ng-model="object.IsSelected" data-ng-change="addToOrder(object)" ui-switch="{color: 'green', secondaryColor: '#F89279'}" />-->
                    <label class="switch red"><input type="checkbox" title="Select" data-ng-model="object.IsSelected" data-ng-change="addToOrder(object)"><i></i></label>
                </p>
                <p>
                    <h4 style="display: inline">{{object.Price | currency}}</h4>
                    <div style="display: inline" data-ng-show="object.IsSelected==true">
                        Quantity:
                        <select data-ng-model="object.Quantity" data-ng-change="getOrderCount();">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="4">Four</option>
                            <option value="5">Five</option>
                        </select>
                    </div>
                </p>
                <p data-ng-if="object.Image != null">
                    <img ng-src="data:image/JPEG;base64,{{object.Image}}" class="li-image img-rounded img-thumbnail" width="80px" height="80px">
                </p>
                <p>{{object.Description}}</p>
            </div>
        </div>
        <hr>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; {{copyRight}}</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /.container -->

    <modal title="Your order details:" visible="showOrderDetails">
        <form role="form">
            Table: <select type="text" data-ng-model="submitOrder.TableNo">
                <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <span class="error-text" data-ng-if="submitOrder.TableNo==null||submitOrder.TableNo==''">* Please provide table no</span>
            <table data-ng-show="order.length>0" style="width:100%">
                <tr>
                    <th style="width: 70%">Name</th>
                    <th style="width: 15%">Quantity</th>
                    <th style="width: 15%">Price</th>
                </tr>
                <tr data-ng-repeat="item in order">
                    <td>{{item.Name}}</td>
                    <td>{{item.Quantity}}</td>
                    <td>{{item.Price * item.Quantity | currency}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Total:</td>
                    <td>{{order.TotalCost | currency}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><a href="" onclick="$('#note').toggle(500);" data-ng-click="hideNote = !hideNote">Add Note</a></td>
                    <td><button type="submit" class="btn btn-primary" data-ng-click="submit();" data-dismiss="modal" data-ng-disabled="submitOrder.TableNo==null||submitOrder.TableNo==''">Submit</button></td>
                </tr>
            </table>
            <div id="note" data-ng-show="hideNote">
                <textarea rows="4" cols="50" data-ng-model="submitOrder.Note"></textarea>
            </div>
        </form>
    </modal>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/ng-infinite-scroll.min.js"></script>
    <script src="js/ui-bootstrap-0.11.0.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/jquery.animate-colors-min.js"></script>
    <script src="js/project/app.js"></script>
    <script src="js/project/menuCtrl.js"></script>
    <script src="js/project/menuService.js"></script>
    <script src="js/switchery.min.js"></script>
    <script src="js/ng-switchery.js"></script>
</body>
</html>
